canvas{
    border: 1px solid black;
    height: 600px;
    width: 100%;
    
    background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

body{
    margin: 0;
    text-align: center;
}
